.p5Canvas {
   margin: 0;
   
    
}
/*   BUTTONS    */
body {
    display: flex;
}
button {
    height: 60px;
    width: 60px;
    left: 30px;
    border: none;
    position: absolute;
    cursor:pointer;
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 8px rgba(85, 85, 85, 0.394);
    transition: .01s;
    color: black;
    
    font-size: 50px;
}
button:hover {
    background-color:rgb(213, 211, 213); 
}
.home-button {
    animation: home-btn 1s;
}
@keyframes home-btn {
    from {
        margin-top: -100px;
    }
}
.plus{

     
    top: 90px;


    border-radius: 5px 5px 0 0;
    
}
.minus {
    top: 150px;

    border-radius: 0 0 5px 5px;
    animation: pls-ic .95s;

}
.play-button {
    top: 230px;
    animation: ply-bt .8s;
}
.gr-button {
    bottom: 70px;
    animation: ply-bt .8s;
}
.fix-button {
    bottom: 140px;
    
    animation: ply-bt .8s;
}


/*  ICON */

.icon {
    width: 30px;
    height: 30px;  
    margin-top: 4px;
    transition: 0.4s;
}


@keyframes ply-bt {
    from {
        margin-top: 150px;
    }
}

.all-right-click {
    font-family: "Open Sans", sans-serif;
}


@keyframes pls-ic {
    from {
        margin-left: -100px;
    }
}


@keyframes mns-ic {
    from {
        opacity: 0;
        margin-left: 100px;
    }
}

#table-btn {
    background: rgba(0, 255, 255, 0);
    left: 95%;
    top: 47%;

    transition: 0.4s;
}
.Panel {
    justify-self: end;
    float: left;
}



/*   C.MENU    */

#context-menu {
    position: fixed;
    z-index: 10;
    width: auto;
    background: rgba(241, 241, 241, 0.62);
    transform:scale(0) ;
    
    transform-origin: top left;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 20px rgba(226, 228, 234, 0.663);
}
#context-menu.active {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}
.item {
    padding: 8px 10px;
    font-size: 20px;
    color:rgb(32, 10, 42);
    
    text-shadow: rgb(20, 16, 16);
}

#context-menu .item:hover {
    background:rgb(212, 210, 212);
    border-radius: 6px;
}
#context-menu .item i {
    display: inline-block;
    margin-right: 5px
}
#context-menu hr {
    margin: 2px 0px;
    border-color: rgb(36, 7, 41);
}

/*  scrollbar */



::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(218, 218, 218);
    transition: 0.5s;
    opacity: 0;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(20, 20, 20, 0.911); 
    border-radius: 15px;
    opacity: 0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.table-icon {
    padding: 25px;
    transition: .5s;
    cursor:pointer;
}
.table-icon:hover {
    margin-left: -10px;
    
  }

.Panel {
    overflow: visible;
    position: relative;
    background: rgba(255, 255, 255, 0.905);
    box-shadow: 0px 0px 8px rgba(37, 3, 3, 0.394);
    right: 250px;
}

.panelItem {
    height: 40px;
    outline: rgb(4, 78, 252);
    width: auto;
    left: 30px;
    border: 1px;
    margin: 6px;
    padding-top: 16px;
    padding-left: 16px;
    cursor:pointer;
    border-radius: 8px;
    background-color: rgb(238, 242, 233);
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 4px rgba(85, 85, 85, 0.394);

    color: black;
    
    font-size: 26px;
}

.panelItem::hover {
    background: rgba(31, 31, 41, 0.82);
}