.p5Canvas {
   margin: 0;
   z-index: -10;
    
}
/*   BUTTONS    */
body {
    display: flex;
}
input{
    display: list-item;

}
button {
    height  : 60px;
    width   : 60px;
    right    : 30px;
    border  : none;
    position: absolute;
    cursor  :pointer;
    border-radius:   5px;
    background-color: rgba(246, 246, 246, 0.709);
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 8px rgba(5, 5, 5, 0.394);
    transition: .01s;
    color: black;
    animation: pls-ic .95s;
    font-size: 50px;
}
button:hover {
    background-color:rgb(213, 211, 213); 
}
button:active{
    background-color: rgba(149, 123, 123, 0.89);
}
.home-button {
    animation: home-btn 1s;
}
@keyframes home-btn {
    from {
        margin-top: -100px;
    }
}
.plus{
    top: 90px;
    border-radius: 5px 5px 0 0;
}
.minus {
    top: 150px;
    border-radius: 0 0 5px 5px;
}
.play-button {
    top: 230px;
    animation: ply-bt .8s;
}
.gr-button {
    bottom: 70px;
    animation: ply-bt .8s;
}
.fix-button {
    bottom: 140px;
    
    animation: ply-bt .8s;
}
@keyframes pls-ic {
    from {
        margin-left: -100px;
    }
}


@keyframes mns-ic {
    from {
        opacity: 0;
        margin-left: 100px;
    }
}

/*  ICON */

.icon {
    width: 30px;
    height: 30px;  
    margin-top: 4px;
    transition: 0.4s;
}


@keyframes ply-bt {
    from {
        margin-top: 150px;
    }
}

.all-right-click {
    font-family: "Open Sans", sans-serif;
}






/*   C.MENU    */

#context-menu {
    position: fixed;
    z-index: 10;
    width: auto;
    background: rgba(241, 241, 241, 0.62);
    transform:scale(0) ;
    
    transform-origin: top right;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px rgba(94, 97, 105, 0.663);
}
#context-menu.active {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}
.citem {
    display: flex;
    padding: 8px 10px;
    font-size: 20px;
    color:rgb(0, 0, 0);
}

#context-menu .citem:hover {
    background:rgba(185, 181, 178, 0.72);
    border-radius: 6px;
}
#context-menu .citem i {
    display: inline-block;
    padding-left: 35px;
}
#context-menu hr {
    margin: 2px 5px;
    border-color: rgb(36, 7, 41);
}


.content{
    padding-left: 20px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(218, 218, 218);
    transition: 0.5s;
    opacity: 0;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(20, 20, 20, 0.911); 
    border-radius: 15px;
    opacity: 0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }