.p5Canvas {
   margin: 0;
   z-index: -10;
    
}
/*   BUTTONS    */
body {
    display: flex;
}
input{
    display: list-item;

}
button {
    height  : 60px;
    width   : 60px;
    right    : 30px;
    border  : none;
    position: absolute;
    cursor  :pointer;
    border-radius:   5px;
    background-color: rgba(246, 246, 246, 0.709);
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 8px rgba(5, 5, 5, 0.394);
    color: black;
    animation: pls-ic .95s;
    font-size: 50px;
}
button:hover {
    background-color:rgb(213, 211, 213); 
}
button:active{
    background-color: rgba(149, 123, 123, 0.89);
}
.home-button {
    top: 20px;
    animation: home-btn 1s;
}
@keyframes home-btn {
    from {
        margin-top: -100px;
    }
}
#help.inactive {
    display: none;
}
#help {
    z-index: 150;
    background-color: rgba(209, 209, 209, 0.795);
    backdrop-filter: blur(5px);
    position: fixed;
    margin: 100px 400px 0 400px;
    left: 0px;
    right: 0px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(85, 85, 85, 0.404);
    height: 400px;
}
#help li {
    color: rgb(27, 27, 27);
    font-size: 18px;
}
.keybtn {
    background-color: rgb(196, 196, 196);
    color: #363636;
    border-radius: 5px;
    padding: 1px 4px 2px 4px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.extext {
    background-color: rgb(196, 196, 196);
    color: #3b00c4;
    border-radius: 5px;
    padding: 1px 4px 2px 4px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#help h1 {
    margin-left: 22px;
    color: rgb(41, 41, 41);
}

.plus{
    top: 110px;
    border-radius: 5px 5px 0 0;
}
.minus {
    top: 170px;
    border-radius: 0 0 5px 5px;
}
.play-button {
    top: 250px;
    animation: ply-bt .8s;
}
.gr-button {
    bottom: 60px;
    animation: ply-bt .8s;
}
.fix-button {
    bottom: 130px;
    
    animation: ply-bt .8s;
}
@keyframes pls-ic {
    from {
        margin-left: -100px;
    }
}

@keyframes mns-ic {
    from {
        opacity: 0;
        margin-left: 100px;
    }
}

/*  ICON */

.icon {
    width: 30px;
    height: 30px;  
    
    transition: 0.4s;
}


@keyframes ply-bt {
    from {
        margin-top: 150px;
    }
}

.text-c {
    margin-left: 10px
}

.all-right-click {
    font-family: "Open Sans", sans-serif;
}

/*   C.MENU    */

#context-menu {
    position: fixed;
    z-index: 2000;
    width: 220px;
    background: rgba(151, 151, 151, 0.568);
    transform:scale(0) ;
    user-select: none;
    
    transform-origin: top left;
    border-radius: 6px;
    backdrop-filter: blur(5px);
    box-shadow: 2px 3px 10px rgba(94, 97, 105, 0.663);
}
#context-menu.active {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}
.citem {
    display: flex;
    padding: 8px 10px;
    
    font-size: 16px;
    color:rgb(0, 0, 0);
}

#context-menu .citem:hover {
    background:rgba(185, 181, 178, 0.72);
    border-radius: 6px;
}
#context-menu .citem i {
    display: inline-block;
    padding-left: 35px;
}
#context-menu hr {
    margin: 2px 5px;
    border-color: rgb(36, 7, 41);
}


.content{
    padding-left: 20px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(218, 218, 218);
    transition: 0.5s;
    opacity: 0;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(20, 20, 20, 0.911); 
    border-radius: 15px;
    opacity: 0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }