body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
.spbutton {
  position: relative;
  right: 0px;
  padding:0;
  width: 65px;
  transition: .5s;
  cursor:pointer;
}
.spbutton:hover {
  background: #838383;
}
.spbutton:before  {
  display: initial;
  right: -20%;
  margin-left: 210px;
  transition: 1s;
}

#table-btn {
  background: rgba(0, 255, 255, 0);
  left: 95%;
  top: 47%;
  transition: 0.4s;
}



.side-panel {
  position: absolute;
  display: none;
  width: auto;
  padding: 1%;
  flex-shrink: 0;
  background: #333333;
  box-shadow: 0 0 12px rgba(0, 0, 0);
  
}



.side-panel-open .side-panel {
  display: initial;
  position:static;
  right:80%;
  
  overflow-y: auto;
  scrollbar-width: 2px;
  scroll-snap-type: none;
}

.side-panel-open .sp-icon-open {
  display: none !important;
 
}
.sp-icon-close {
  display: none !important;
  
  

}
.side-panel-open .sp-icon-close {
  display: initial !important;
  
}

.pItem {
  display: flex;
  flex-direction: row;
  height: auto;
  place-items: center;

  margin:2%;
  padding: 4%;
  cursor:pointer;
  border-radius: 8px;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.394);

  color: rgb(246, 188, 53);
  
  font-size: 22px;
}

.pItem:hover {
  background: #f3172994;
}


.wrapper {
  display: flex;
  position: absolute;
  height: 100vh;
  transition: 5s;

}
  

/*   Check Box*/

.pItemChbx {
  color: black;
  display:flex;
  

}




  
INPUT[type=checkbox]
{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 27px;
    height: 27px;
    cursor: pointer;
    position: relative;
    
}


INPUT[type=checkbox]:focus
{
      outline: 3px solid rgba(37, 4, 254, 0.2);
}
INPUT[type=checkbox]:checked
{
  
    background-color: #409fd6;
    background: #2aa9f3 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 8px 8px no-repeat;
}

#addfun
{
  margin:  8px ;
  padding: 8px;
  padding-left: 28px;
  background-color: rgb(243, 237, 237);
  border-radius: 25px;

  height:26px;
  font-size: 24px;
  font-family: clash-bold, Times, serif;
  position: relative;
    
}